@CHARSET "UTF-8";
@IMPORT url("reset.css");
@IMPORT url("960.css");
@IMPORT url("form.css");


.container_16 {
	margin-top:20px;

     -moz-border-radius: 20px; /* FF1+ */
  -webkit-border-radius: 20px; /* Saf3+, Chrome */
          border-radius: 20px; /* Opera 10.5, IE 9 */

     -moz-box-shadow: 0px 0px 10px #222; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 10px #222; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 10px #222; /* Opera 10.5, IE 9.0 */

  background-image: -moz-linear-gradient(top, #333333, #000000); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #888),color-stop(1, #000000)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#000000'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#000000')"; /* IE8 */
}

html, body {
	font-family:"Helvetica Neue",arial;
	color:#fff;
}

html {background:#000 url(../img/bg5.jpg) 0 0 repeat fixed;}
/*body {background:transparent url(../img/bg-bottom.png) 0 100px repeat-x;}*/

body.index ul {font-size:14px;}
body.index ul li {margin:0 0 3px 0;}

/*body.index #abstract {background: transparent url(../img/brama.png) 100% 100% no-repeat}*/

a.more {
	padding: 5px 10px;
	color:#333;
	text-shadow: 0 1px 0 #fff;
	font-weight:bold;
	font-size:.9em;
	font-style:normal;
	font-family: "Helvetica Neue",arial;

     -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3+, Chrome */
          border-radius: 5px; /* Opera 10.5, IE 9 */

     -moz-box-shadow: 0px 0px 2px #333; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 2px #333; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 2px #333; /* Opera 10.5, IE 9.0 */

  background-image: -moz-linear-gradient(top, #f6f6f6, #999999); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f6f6f6),color-stop(1, #999999)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6', EndColorStr='#999999'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6', EndColorStr='#999999')"; /* IE8 */  
}

a.more:hover {
	text-decoration:none;
	color:#333;

  background-image: -moz-linear-gradient(top, #999999, #f6f6f6 ); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #999999),color-stop(1, #f6f6f6)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#f6f6f6'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#f6f6f6')"; /* IE8 */  

}

a.more.red {
	color:#fff;
	text-shadow:0 1px 0 #333;

     -moz-border-radius: 10px; /* FF1+ */
  -webkit-border-radius: 10px; /* Saf3+, Chrome */
          border-radius: 10px; /* Opera 10.5, IE 9 */

  background-color: #9E1313;
  
  background-image: -moz-linear-gradient(top, #D70000, #9E1313); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D70000),color-stop(1, #9E1313)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#D70000', EndColorStr='#9E1313'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D70000', EndColorStr='#9E1313')"; /* IE8 */
}
a.more.red:hover{
	background-color: #D70000;
	
  background-image: -moz-linear-gradient(top, #9E1313, #D70000); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #9E1313),color-stop(1, #D70000)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E1313', EndColorStr='#D70000'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E1313', EndColorStr='#D70000')"; /* IE8 */
}
a {color:#D70000; text-decoration:none;}

.categories li.active a,
.categories li a:hover,
a:hover {
	text-decoration:none;
	color:#fff;
	background-color:#9E1313;

  background-image: -moz-linear-gradient(top, #D70000, #9E1313); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D70000),color-stop(1, #9E1313)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#D70000', EndColorStr='#9E1313'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D70000', EndColorStr='#9E1313')"; /* IE8 */
}

a[rel="group"], a.none, a img, a:hover img {background-color:transparent !important;}
a.icoMovie {background:transparent url(../img/camcorder-image.png) 0 0 no-repeat; padding-left:20px;}
a.icoMovie:hover {background-color:#800020;}

p {margin-bottom:0.5em; line-height:1.5em;}
p.center {text-align:center;}

strong {font-family: 'Josefin Sans Std Light', arial, serif;}
p strong {font-size:1.2em; margin:1em auto;}

h1,h2,h3,h4 {
	text-shadow:0 1px 0 #000;
	margin-bottom: 20px;
	font-family: 'Josefin Sans Std Light', arial, serif;
}
h4 {margin-bottom: 10px;}
/* Główna typografia */

h1 {
	font-size: 28px;
	
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 19px;
}
h2 em {
	color:#555;
	display: block;
	padding-left: 20px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-family:"Helvetica Neue",arial;
}

ul {
	margin:20px 20px 20px 30px;
}
ul li {
	list-style-type: circle;
	list-style-position: outside;
	margin-bottom:10px;
}

table {}
table.center {
	margin:0 auto;
	width: 500px;
}
table tr {}
table tr td {
	vertical-align: middle;
	padding:5px;
}

/* Logo */
h1.logo {
	width:200px;
	padding:10px 20px;
	font-size:3em;
/*	font-weight:normal;*/
	font-family: 'Yanone Kaffeesatz', arial, serif;
}
h1.logo a {color:#4040e8}
h1.logo a:hover {color:#9E1313; background-color:transparent !important;}
h1.logo a em {
color:#d50101;
	font-style:normal;
	font-weight:bold;
}
h1.logo a span {
	color:#fff;
	display:block;
	text-align:right;
	font-size:.6em;
	font-family: 'Tangerine', arial, serif;
}

/* motto */
#motto {
	margin: 0;
	padding:20px 0;
	
	background-color:#333;
	
  background-image: -moz-linear-gradient(top,#444 , #333); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #444),color-stop(1, #333)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#444', EndColorStr='#333'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444', EndColorStr='#333')"; /* IE8 */
}
#motto {clear:both;}
#motto p {
	font-family: 'OFL Sorts Mill Goudy TT',"Baskerville","Georgia",serif;
	font-style:italic;
	font-weight:normal;
	font-size:1.6em;
	color: #fff;
	text-shadow: 0 1px 0 #333;
	text-align:center;
}

p.intro {
	font-family: 'OFL Sorts Mill Goudy TT',"Baskerville","Georgia",serif;
	font-style:italic;
	font-weight:normal;
	font-size:1.4em;
	color: #fff;
	text-shadow: 0 1px 0 #333;
	text-align:center;
}

#head {
	position:relative;
	height: 110px;
}
#head .navigation {
	position:absolute;
	right:10px;
	top:0;
	overflow:hidden;
}
#head .navigation li {
	list-style:none;
	display:inline;
	float:left;
	margin-left:5px;
}

#head .navigation li a {
	color:#fff;
	padding:5px 10px;

	display:block;
	text-decoration:none;
}

#head .navigation li.active a,
#head .navigation li a:hover {
	text-shadow:0 1px 0 #333;

     -moz-border-radius: 10px; /* FF1+ */
  -webkit-border-radius: 10px; /* Saf3+, Chrome */
          border-radius: 10px; /* Opera 10.5, IE 9 */

  background-color: #9E1313;
  background-image: -moz-linear-gradient(top, #D70000, #9E1313); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D70000),color-stop(1, #9E1313)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#D70000', EndColorStr='#9E1313'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D70000', EndColorStr='#9E1313')"; /* IE8 */
}

#content {
	padding:20px 0;
	margin-bottom:20px;

	background-color:#111;
	
  background-image: -moz-linear-gradient(top,#111111 , #000000); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #111111),color-stop(1, #000000)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#111111', EndColorStr='#000000'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#111111', EndColorStr='#000000')"; /* IE8 */
}

#asite {
	padding:20px 0;
	background-color:#000;
	
  background-image: -moz-linear-gradient(top,#000000 , #333333); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #000000),color-stop(1, #333333)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', EndColorStr='#333333'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', EndColorStr='#333333')"; /* IE8 */
}

#foot {
	font-size:10px;
	text-align:center;
	color:#333;
}

#foot a {color:inherit}

/* Blok zobacz więcej */
.see-more {position: relative; padding-bottom:0;}
.see-more h2 a {color: inherit;}
.see-more h2 a em {margin-top:13px;}
.see-more h2 a:hover {background:none!important; text-decoration:none !important;}
.see-more a.smore {
	position:absolute; 
	top: 10%; right: 0;
	
	font-size: 14px;
	font-family: 'Josefin Sans Std Light', arial, serif;
}
.front,
img.img {
        border:1px solid #333;
        padding: 5px;
        margin: 0 10px 10px;
        float:right;
        

  background-color: #373737;
  background-color: rgba(55, 55, 55, 0.6);  /* FF3+, Saf3+, Opera 10.10+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#99373737',EndColorStr='#99373737'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99373737',EndColorStr='#99373737')"; /* IE8 */


     -moz-box-shadow: 0px 0px 4px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #000; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE 9.0 */

}
.front.center {float:none;}

img.img.left {margin-left:0px;}
img.img.right{margin-right:0px;}

.left {float:left};
.right {float:right};

p.right {text-align:right; float:none;}
.nofloat {float:none;}

.block {
        padding: 10px;
        margin:10px;
		border: 1px solid #999;


  background-color: #8C8C8C;
  background-color: rgba(140, 140, 140, 0.1);  /* FF3+, Saf3+, Opera 10.10+, Chrome */
}





.messages {margin:0;}
.messages li {margin:0 0 5px 0; padding: 5px; list-style:none; border:2px solid #800020; background-color:#ff8973; color: #fff;}

.categories,
.products {margin:0; padding:0}

.categories {}
.categories li {list-style:none; padding:0;}
.categories li a {
	padding:5px 7px;
	display:block;
	font-size:1.1em;

     -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3+, Chrome */
          border-radius: 5px; /* Opera 10.5, IE 9 */
}
.categories li.active a
.categories li a:hover {}
.products {
	overflow:hidden;
	padding: 5px 0;
}
.products li {
	position:relative;
	text-align:center;
	list-style:none;
	float:left;
	width:33%;
	height: 210px;
}
.products li span {
	display:block;
	margin-top:5px;
}
.products li a:hover {
	background-color:none !important;
	background-image:none !important;
}
.products li a img {
	padding:5px;
	background-color:#333 !important;
	border:1px solid #333;

     -moz-box-shadow: 0px 0px 5px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 5px #000; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 5px #000; /* Opera 10.5, IE 9.0 */
}
.products li a:hover img {
	border:1px solid #666;
}



/*
	Sytlowanie obramowania zakładek
*/
.tabs li.active a,
#tab-content 	{border:1px solid #999;}
.tabs li a 		{border-bottom:1px solid #999;}

#tab-content {
	border-top:0;
	border-bottom:0;
}
.tabs li.active a {
	border-bottom:0;
}

/*
	Styl zakładek
*/
#tab-content {
	clear:both;
	background-color:#000;
	padding: 40px 20px 0 !important;
	margin:0 !important;
}

.tabs {
	overflow:hidden;
	width:100%;	
	background-color:#333;
}
.tabs,
.tabs li,
.tabs li a {
	margin:0 !important;
	padding:0 !important;
}
.tabs li {
	float:left;
	width:33.333%;
	list-style:none;
}

.tabs li a {
	display:block;	
	
	height: 80px;
	line-height:80px;
	font-size:1.6em;
	text-align:center;
	color:#666;
}

.tabs li.active a,
.tabs li a:hover {
	background-color:#000 !important;
	color:#fff !important;
}

#tab-content ul {margin-top:20px; margin-left:20px;}

.gallery_images_for_lightbox {
	overflow:hidden;
	clear:both;
	maring: 10px auto;
}
.gallery_images_for_lightbox .image {
	display:block;
	float:left;
	margin-left:5px;
	margin-bottom:5px;
}
.gallery_images_for_lightbox .image a {
	display:block;
	width:100%;
	height:100%;
	position:relative;
}
.gallery_images_for_lightbox .image a span {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding: 3px;
	font-size:12px;
	height: 25%;
	line-height: 1em;
}
.gallery_images_for_lightbox .image a span {
  background-color: #161616;
  background-color: rgba(22, 22, 22, 0.6);  /* FF3+, Saf3+, Opera 10.10+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#99161616',EndColorStr='#99161616'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99161616',EndColorStr='#99161616')"; /* IE8 */
}

.gallery_images_for_lightbox .thumb-thumb {
	width:90px;
	height:90px;
}
