.jcarousel-skin-krakplast .jcarousel-container {
	margin: 20px 0 40px 0;
}

.jcarousel-skin-krakplast .jcarousel-container-horizontal {
    width: 860px;
    padding: 0 40px;
}

.jcarousel-skin-krakplast .jcarousel-clip-horizontal {
    width:  860px;
    height: 200px;
}

.jcarousel-skin-krakplast .jcarousel-item {
    width: 200px;
    height: 200px;
}

.jcarousel-skin-krakplast .jcarousel-item-horizontal {
    margin-right: 7px;
    margin-left: 7px;
}

/*.jcarousel-skin-krakplast .jcarousel-item-vertical {*/
/*    margin-bottom: 10px;*/
/*}*/

.jcarousel-skin-krakplast .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Stylowanie opisów fotografii
 */
.jcarousel-skin-krakplast .jcarousel-item a {position:relative}
.jcarousel-skin-krakplast .jcarousel-item a:hover {text-decoration:none;}
.jcarousel-skin-krakplast .jcarousel-item a span {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	
	height:50px;
	
	padding-left: 20px;
	padding-top:10px;
	
	font-size: 20px;
	font-family: 'OFL Sorts Mill Goudy TT',"Baskerville","Georgia",serif;
	
	color: #999;
	line-height: 1em;
	text-shadow:0 0 3px #000;
	
  background-color: #222;
  background-color: rgba(11, 11, 11, 0.9);  /* FF3+, Saf3+, Opera 10.10+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#99333333',EndColorStr='#99333333'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99333333',EndColorStr='#99333333')"; /* IE8 */
}
.jcarousel-skin-krakplast .jcarousel-item a:hover span
{
  height:200px;
  text-indent:-200em;
  background-image: url(play.png);
  background-position: 50% 50%;
  background-repeat:no-repeat;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-krakplast .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-arrow.png) no-repeat 0 0;
}

.jcarousel-skin-krakplast .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-arrow.png) no-repeat 0 0;
}
